<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./cesh.min.css" />
    <meta name="description" content="Cesh: Code Editor Syntax Highlighter Example">
    <title>Cesh Example</title>
    <style>
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Code Editor Syntax Highlighter Example</h1>
    <h2>SQL</h2>
    <div class="container" style="display: flex;">
        <textarea id="sql-editor" style="height: 300px; flex: 1" spellcheck="false" placeholder="SQL">
SELECT
    *,
    123,
    'abc'
FROM
    "table"</textarea>
    </div>

    <h2>JS</h2>
    <div class="container" style="display: flex;">
        <textarea id="js-editor" style="height: 300px; flex: 1" spellcheck="false" placeholder="JS">
const a = 123.4;
const b = 'hello';
if (a === b) {
    console.log("oh no!");
}</textarea>
    </div>


    <h2>Twig</h2>
    <div class="container" style="display: flex;">
        <textarea id="twig-editor" style="height: 300px; flex: 1; font-weight: bold; font-size: 1.2em"
            spellcheck="false" placeholder="Twig">
{% if users|length > 0 %}
    <ul>
        {% for user in users %}
            <li>{{ user.username|e }}</li>
        {% endfor %}
    </ul>
{% endif %}</textarea>
    </div>

    <script src="./cesh.umd.min.js"></script>
    <script>
        cesh.editor(document.querySelector("#sql-editor"), { tokenizer: cesh.sqlTokenizer });
        cesh.editor(document.querySelector("#js-editor"), { tokenizer: cesh.jsTokenizer });
        cesh.editor(document.querySelector("#twig-editor"), { tokenizer: cesh.twigTokenizer, plugins: [cesh.tabPlugin, cesh.fontPlugin] });
    </script>
</body>

</html>