.cesh-editor,
.cesh-textarea {
    display: block;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
    padding: 4px;
    overflow: auto;
    white-space: pre;
}

.cesh-textarea {
    color: transparent;
    background-color: transparent;
    caret-color: #444;
}

.cesh-textarea::selection {
    color: white;
    background-color: #0d6bb8;
    text-shadow: none;
}

.cesh-editor {
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: -1;
    border: 1px solid transparent;
}